<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Log In</h1>

<form method="POST" th:action="@{/loginstatus}">
    <input type="text" name="email" placeholder="E-mail" /><br/>
    <input type="password" name="password" placeholder="Password" /><br/>
    <input type="submit" value="Log In" />
</form>

<h3 th:if="${status} != null" th:text="${status}">Login Status</h3>

<h3>Don't have an account? <a href="/register">Register</a> </h3>

</body>
</html>
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> E-mail : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<h3>Don't have an account? <a href="/register">Register</a> </h3>
</body>
</html>